In [3]:
import os
os.getcwd()

'C:\\Users\\P.BHAVAN\\Desktop\\internship'

In [4]:
os.chdir("C:/Users/P.BHAVAN/Desktop/internship")
os.getcwd()

'C:\\Users\\P.BHAVAN\\Desktop\\internship'

# Importing Libraries

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

# Importing Dataset

In [10]:
data1=pd.read_csv(r'1. Master H1B Dataset.csv',encoding='ISO-8859-1',low_memory=False)
data1

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,VISA_CLASS,EMPLOYER_NAME,EMPLOYER_STATE,EMPLOYER_COUNTRY,...,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE,WORKSITE_POSTAL_CODE,CASE_STATUS
0,24,2,2016,1,10,2016,H1B,DISCOVER PRODUCTS INC,IL,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,65811.0,67320.0,Year,N,N,IL,60015,CERTIFIEDWITHDRAWN
1,4,3,2016,1,10,2016,H1B,DFS SERVICES LLC,IL,UNITED STATES OF AMERICA,...,2015.0,WILLIS TOWERS WATSON SURVEY,53000.0,57200.0,Year,N,N,IL,60015,CERTIFIEDWITHDRAWN
2,10,3,2016,1,10,2016,H1B,EASTBANC TECHNOLOGIES LLC,DC,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,77000.0,0.0,Year,Y,N,DC,20007,CERTIFIEDWITHDRAWN
3,28,9,2016,1,10,2016,H1B,INFO SERVICES LLC,MI,UNITED STATES OF AMERICA,...,2016.0,OFLC ONLINE DATA CENTER,102000.0,0.0,Year,Y,N,NJ,7302,WITHDRAWN
4,22,2,2015,2,10,2016,H1B,BBandT CORPORATION,NC,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,132500.0,0.0,Year,N,N,NY,10036,CERTIFIEDWITHDRAWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528129,30,6,2017,30,6,2017,H1B,SAN JOSE UNIFIED SCHOOL DISTRICT,CA,UNITED STATES OF AMERICA,...,2016.0,NONE,54958.0,92555.0,Year,N,N,CA,95126,WITHDRAWN
528130,30,6,2017,30,6,2017,H1B,SOFTPATH SYSTEM LLC,GA,UNITED STATES OF AMERICA,...,2016.0,OFLC ONLINE DATA CENTER,90813.0,0.0,Year,Y,N,NY,10281,WITHDRAWN
528131,30,6,2017,30,6,2017,H1B,TECH MAHINDRA AMERICAS INC,TX,UNITED STATES OF AMERICA,...,2016.0,OFLC ONLINE DATA CENTER,81515.0,0.0,Year,Y,N,TX,75082,WITHDRAWN
528132,30,6,2017,30,6,2017,H1B,UNIVERSITY PHYSICIAN ASSOCIATES,MO,UNITED STATES OF AMERICA,...,2016.0,OFLC ONLINE DATA CENTER,121750.0,155000.0,Year,N,N,MO,64139,WITHDRAWN
528133,30,6,2017,30,6,2017,E3 Australian,WEBER STATE UNIVERSITY,UT,UNITED STATES OF AMERICA,...,2016.0,OFLC ONLINE DATA CENTER,58000.0,0.0,Year,NaN,NaN,UT,84408,WITHDRAWN

In [11]:
data1.head()

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,VISA_CLASS,EMPLOYER_NAME,EMPLOYER_STATE,EMPLOYER_COUNTRY,...,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_STATE,WORKSITE_POSTAL_CODE,CASE_STATUS
0,24,2,2016,1,10,2016,H1B,DISCOVER PRODUCTS INC,IL,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,65811.0,67320.0,Year,N,N,IL,60015,CERTIFIEDWITHDRAWN
1,4,3,2016,1,10,2016,H1B,DFS SERVICES LLC,IL,UNITED STATES OF AMERICA,...,2015.0,WILLIS TOWERS WATSON SURVEY,53000.0,57200.0,Year,N,N,IL,60015,CERTIFIEDWITHDRAWN
2,10,3,2016,1,10,2016,H1B,EASTBANC TECHNOLOGIES LLC,DC,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,77000.0,0.0,Year,Y,N,DC,20007,CERTIFIEDWITHDRAWN
3,28,9,2016,1,10,2016,H1B,INFO SERVICES LLC,MI,UNITED STATES OF AMERICA,...,2016.0,OFLC ONLINE DATA CENTER,102000.0,0.0,Year,Y,N,NJ,7302,WITHDRAWN
4,22,2,2015,2,10,2016,H1B,BBandT CORPORATION,NC,UNITED STATES OF AMERICA,...,2015.0,OFLC ONLINE DATA CENTER,132500.0,0.0,Year,N,N,NY,10036,CERTIFIEDWITHDRAWN

In [12]:
data1.describe()

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,NAICS_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_SOURCE_YEAR,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO
count,528134.000000,528134.000000,528134.000000,528134.000000,528134.000000,528134.000000,528132.000000,528134.000000,528134.000000,528103.000000,5.281340e+05,5.281340e+05
mean,15.246426,4.444859,2016.752854,16.565991,4.552377,2016.825876,443548.680673,1.907171,71674.254471,2016.057258,8.161845e+04,2.408603e+04
std,8.154979,3.201000,0.524568,8.457420,3.201752,0.379217,197875.907540,4.925016,31996.910281,5.562969,4.246852e+04,5.239735e+04
min,1.000000,1.000000,2011.000000,1.000000,1.000000,2016.000000,31.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,8.000000,3.000000,2017.000000,9.000000,3.000000,2017.000000,452910.000000,1.000000,55910.000000,2016.000000,6.200000e+04,0.000000e+00
50%,15.000000,3.000000,2017.000000,17.000000,3.000000,2017.000000,541511.000000,1.000000,68827.000000,2016.000000,7.500000e+04,0.000000e+00
75%,22.000000,5.000000,2017.000000,23.000000,5.000000,2017.000000,541511.000000,1.000000,87214.000000,2016.000000,9.776000e+04,0.000000e+00
max,31.000000,12.000000,2017.000000,31.000000,12.000000,2017.000000,999990.000000,155.000000,414007.000000,2017.000000,1.350000e+06,3.000000e+06

In [13]:
data1.cov()

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,NAICS_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_SOURCE_YEAR,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO
CASE_SUBMITTED_DAY,66.503689,-0.083616,-0.168520,13.977865,0.395189,-0.047409,1.311161e+04,-0.044297,-2.514309e+03,-0.082410,-4.509337e+03,-7.581557e+02
CASE_SUBMITTED_MONTH,-0.083616,10.246403,-1.147246,-0.714017,9.003921,-1.009152,-1.530775e+04,-0.054282,7.137337e+03,-0.208788,9.387229e+03,6.828565e+03
CASE_SUBMITTED_YEAR,-0.168520,-1.147246,0.275171,0.291846,-1.113177,0.144421,6.642788e+01,0.037611,-5.452343e+02,0.152257,-8.275552e+02,-1.135155e+03
DECISION_DAY,13.977865,-0.714017,0.291846,71.527955,-1.414301,0.090197,1.143636e+04,-0.364338,-6.493066e+03,0.127457,-7.332638e+03,-9.965713e+03
DECISION_MONTH,0.395189,9.003921,-1.113177,-1.414301,10.251214,-1.123287,-1.067961e+04,-0.106108,6.583969e+03,-0.286668,8.466385e+03,6.819235e+03
DECISION_YEAR,-0.047409,-1.009152,0.144421,0.090197,-1.123287,0.143805,2.153869e+03,-0.008310,-7.047551e+02,0.040468,-9.034093e+02,-8.520810e+02
NAICS_CODE,13111.613740,-15307.749100,66.427881,11436.363485,-10679.607375,2153.868874,3.915487e+10,-78497.209177,-2.523237e+08,-2486.825398,-1.235157e+08,-8.186024e+08
TOTAL_WORKERS,-0.044297,-0.054282,0.037611,-0.364338,-0.106108,-0.008310,-7.849721e+04,24.255786,6.844143e+03,0.003809,2.083812e+03,2.237612e+04
PREVAILING_WAGE,-2514.309243,7137.337486,-545.234302,-6493.065941,6583.969110,-704.755104,-2.523237e+08,6844.143257,1.023802e+09,-416.327770,1.161099e+09,5.004649e+08
PW_SOURCE_YEAR,-0.082410,-0.208788,0.152257,0.127457,-0.286668,0.040468,-2.486825e+03,0.003809,-4.163278e+02,30.946621,-7.200653e+02,-9.828872e+02
WAGE_RATE_OF_PAY_FROM,-4509.336894,9387.228765,-827.555213,-7332.637772,8466.384669,-903.409272,-1.235157e+08,2083.812481,1.161099e+09,-720.065341,1.803575e+09,5.045292e+08
WAGE_RATE_OF_PAY_TO,-758.155678,6828.565034,-1135.154928,-9965.713078,6819.235451,-852.081042,-8.186024e+08,22376.123862,5.004649e+08,-982.887197,5.045292e+08,2.745482e+09

In [14]:
data1.corr()

,CASE_SUBMITTED_DAY,CASE_SUBMITTED_MONTH,CASE_SUBMITTED_YEAR,DECISION_DAY,DECISION_MONTH,DECISION_YEAR,NAICS_CODE,TOTAL_WORKERS,PREVAILING_WAGE,PW_SOURCE_YEAR,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO
CASE_SUBMITTED_DAY,1.000000,-0.003203,-0.039394,0.202666,0.015135,-0.015330,0.008125,-0.001103,-0.009636,-0.001817,-0.013020,-0.001774
CASE_SUBMITTED_MONTH,-0.003203,1.000000,-0.683233,-0.026375,0.878533,-0.831349,-0.024168,-0.003443,0.069686,-0.011725,0.069053,0.040713
CASE_SUBMITTED_YEAR,-0.039394,-0.683233,1.000000,0.065783,-0.662788,0.726005,0.000640,0.014558,-0.032484,0.052175,-0.037147,-0.041299
DECISION_DAY,0.202666,-0.026375,0.065783,1.000000,-0.052230,0.028123,0.006834,-0.008747,-0.023994,0.002709,-0.020415,-0.022489
DECISION_MONTH,0.015135,0.878533,-0.662788,-0.052230,1.000000,-0.925157,-0.016857,-0.006729,0.064268,-0.016095,0.062265,0.040648
DECISION_YEAR,-0.015330,-0.831349,0.726005,0.028123,-0.925157,1.000000,0.028704,-0.004449,-0.058082,0.019183,-0.056096,-0.042883
NAICS_CODE,0.008125,-0.024168,0.000640,0.006834,-0.016857,0.028704,1.000000,-0.080548,-0.039853,-0.002259,-0.014698,-0.078953
TOTAL_WORKERS,-0.001103,-0.003443,0.014558,-0.008747,-0.006729,-0.004449,-0.080548,1.000000,0.043431,0.000139,0.009963,0.086710
PREVAILING_WAGE,-0.009636,0.069686,-0.032484,-0.023994,0.064268,-0.058082,-0.039853,0.043431,1.000000,-0.002339,0.854464,0.298508
PW_SOURCE_YEAR,-0.001817,-0.011725,0.052175,0.002709,-0.016095,0.019183,-0.002259,0.000139,-0.002339,1.000000,-0.003048,-0.003372
WAGE_RATE_OF_PAY_FROM,-0.013020,0.069053,-0.037147,-0.020415,0.062265,-0.056096,-0.014698,0.009963,0.854464,-0.003048,1.000000,0.226730
WAGE_RATE_OF_PAY_TO,-0.001774,0.040713,-0.041299,-0.022489,0.040648,-0.042883,-0.078953,0.086710,0.298508,-0.003372,0.226730,1.000000

In [15]:
data1.columns

Index(['CASE_SUBMITTED_DAY', 'CASE_SUBMITTED_MONTH', 'CASE_SUBMITTED_YEAR',
       'DECISION_DAY', 'DECISION_MONTH', 'DECISION_YEAR', 'VISA_CLASS',
       'EMPLOYER_NAME', 'EMPLOYER_STATE', 'EMPLOYER_COUNTRY', 'SOC_NAME',
       'NAICS_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE',
       'PW_UNIT_OF_PAY', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER',
       'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY',
       'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'WORKSITE_STATE',
       'WORKSITE_POSTAL_CODE', 'CASE_STATUS'],
      dtype='object')

In [16]:
data1.dtypes

CASE_SUBMITTED_DAY         int64
CASE_SUBMITTED_MONTH       int64
CASE_SUBMITTED_YEAR        int64
DECISION_DAY               int64
DECISION_MONTH             int64
DECISION_YEAR              int64
VISA_CLASS                object
EMPLOYER_NAME             object
EMPLOYER_STATE            object
EMPLOYER_COUNTRY          object
SOC_NAME                  object
NAICS_CODE               float64
TOTAL_WORKERS              int64
FULL_TIME_POSITION        object
PREVAILING_WAGE          float64
PW_UNIT_OF_PAY            object
PW_SOURCE                 object
PW_SOURCE_YEAR           float64
PW_SOURCE_OTHER           object
WAGE_RATE_OF_PAY_FROM    float64
WAGE_RATE_OF_PAY_TO      float64
WAGE_UNIT_OF_PAY          object
H-1B_DEPENDENT            object
WILLFUL_VIOLATOR          object
WORKSITE_STATE            object
WORKSITE_POSTAL_CODE      object
CASE_STATUS               object
dtype: object

In [17]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528134 entries, 0 to 528133
Data columns (total 27 columns):
CASE_SUBMITTED_DAY       528134 non-null int64
CASE_SUBMITTED_MONTH     528134 non-null int64
CASE_SUBMITTED_YEAR      528134 non-null int64
DECISION_DAY             528134 non-null int64
DECISION_MONTH           528134 non-null int64
DECISION_YEAR            528134 non-null int64
VISA_CLASS               528134 non-null object
EMPLOYER_NAME            528095 non-null object
EMPLOYER_STATE           528124 non-null object
EMPLOYER_COUNTRY         528134 non-null object
SOC_NAME                 528134 non-null object
NAICS_CODE               528132 non-null float64
TOTAL_WORKERS            528134 non-null int64
FULL_TIME_POSITION       528131 non-null object
PREVAILING_WAGE          528134 non-null float64
PW_UNIT_OF_PAY           528101 non-null object
PW_SOURCE                528101 non-null object
PW_SOURCE_YEAR           528103 non-null float64
PW_SOURCE_OTHER          528134 non-null object
WAGE_RATE_OF_PAY_FROM    528134 non-null float64
WAGE_RATE_OF_PAY_TO      528134 non-null float64
WAGE_UNIT_OF_PAY         528130 non-null object
H-1B_DEPENDENT           517834 non-null object
WILLFUL_VIOLATOR         517833 non-null object
WORKSITE_STATE           528134 non-null object
WORKSITE_POSTAL_CODE     528134 non-null object
CASE_STATUS              528134 non-null object
dtypes: float64(5), int64(7), object(15)
memory usage: 108.8+ MB

In [18]:
data1['EMPLOYER_STATE'].unique()

array(['IL', 'DC', 'MI', 'NC', 'GA', 'NJ', 'IN', 'WA', 'TX', 'CA', 'OR',
       'AR', 'NY', 'OK', 'RI', 'MA', 'WI', 'KY', 'IA', 'VA', 'FL', 'MD',
       'DE', 'AZ', 'CT', 'LA', 'CO', 'MO', 'PA', 'MN', 'OH', 'UT', 'TN',
       'KS', 'MS', 'SC', 'ND', 'VT', 'AL', 'ID', 'PR', 'GU', 'NH', 'NE',
       'WV', 'NM', 'NV', 'ME', 'HI', 'MT', 'MP', 'SD', 'AK', 'WY', nan,
       'VI', 'AS'], dtype=object)